.h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5em;
  margin-top: 0.5em;
}
.p {
  color: #787e88;
  font-size: 13px;
  line-height: 1.5em;

  margin-bottom: 1.5em;
  max-width: 100%;
}
.container {
  font-family: sans-serif;
  color: white;
  background-image: linear-gradient(to bottom, #1c2734, #151e29);
  width: 300px;
  height: 300px;
  border-radius: 2em;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 2em;
}
.circle-btn-wrapper {
  margin-bottom: 1.2em;
  display: flex;
  align-items: center;
}
.circle-btn {
  border: none;
  padding: 10px;
  color: #707781;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 3.4em;
  margin-left: 1.4em;
  margin-bottom: 0.5em;
  height: 3.4em;
  background-color: #242f39;
  cursor: pointer;
}
.circle-btn:hover {
  background-color: #fc7614;

  color: #fafeff;
}
.circle-btn.active {
  background-color: #7c8999;

  color: #fafeff;
}
#star {
  padding: 0;
  margin-bottom: 1.6em;
  border: none;
  color: #707781;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 3.2em;
  height: 3.2em;
  background-color: #272e38;
}
.circle-btn:first-child {
  margin-left: 0;
}

.btn:focus {
  background-color: #ffffff;
  color: #fc7614;
}
.btn {
  width: 100%;
  background-color: #fc7614;
  color: #ffffff;
  border: none;
  padding: 1em;
  border-radius: 2em;
  font-size: 12px;
  line-height: 1.5em;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}

.App {
  display: grid;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  width: 100vw;
  height: 100vh;
  background-color: #141518;
}
.thanksWrapper {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.star-selected {
  font-size: 14px;
  margin-left: 3.2em;
  margin-right: 3.2em;
  padding: 0.5em 1.5em;
  border-radius: 2em;
  color: #ca7b3e;
  background-color: #222d37;
}
.img-holder {
  margin-bottom: 1em;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #141518;
}
